body{
    background-image: url("../img/backgroundPage.jpg");

    background-repeat: no-repeat;

    background-size: cover;
}

#botonPrincipal, h2, #timer{
    display: flex;

    justify-content: center;
}

h2, #timer{
    color: antiquewhite;
}

#timer{
    font-size: 25px;
    font-family: Times New Roman, serif;
}
#juego{
    margin: 1% 0 0 15%;
}
#botonPrincipal{
    margin: 20%;
}